body {
    background-color: #d7d4a8;
  }
  
  h1 {
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 800;
    line-height: 0,5;
    letter-spacing: -.003em;
    font-size: 70px;
    padding: 10px;
  }
  
  p {
    
    text-align: left;
    margin-top: 30px;
    
  }
  
  h5 {
    text-align: center;
    margin-top: 10px;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }
  
  footer {
    text-align: center;
    margin-top: 50px;
  }
  
  #image {
      width: 100%;
      height: auto;
      max-width: 625px;
      margin-left: auto;
      margin-right: auto;
      display: block;
  }
  
  #link {
      padding-bottom: 1.5em;
  }